.back-btn {
    background: none;
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    display: none;
    /* default hidden for desktop */
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

@media (max-width: 768px) {
    .back-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}