.back-btn {
    background: none !important;
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    /* Oculto pero ocupa espacio */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 769px) {
    .back-btn {
        display: none;
        /* Totalmente oculto en desktop */
    }
}

.back-btn.visible {
    visibility: visible;
    opacity: 1;
}