.all {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    perspective: 1000px;
  }

  .starters, .main-courses, .drinks, .desserts {
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, .3);
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 1.2s ease-in-out;
    pointer-events: none;
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #58d;
    background-blend-mode: color-burn;
    cursor: pointer;
  }

  .text {
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    bottom: 0;
    left: 5px;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 5px rgba(100, 100, 255, .6);
  }

  .full-service {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #58d;
    background-blend-mode: color-burn;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  }

  .full-service:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, .6);
  }

  .full-service:hover ~ .starters,
  .full-service:hover ~ .main-courses,
  .full-service:hover ~ .drinks,
  .full-service:hover ~ .desserts {
    opacity: 1;
    pointer-events: auto;
  }

  .full-service:hover ~ .starters .text,
  .full-service:hover ~ .main-courses .text,
  .full-service:hover ~ .drinks .text,
  .full-service:hover ~ .desserts .text {
    opacity: 1;
    transform: translateY(0px);
  }

  .explainer {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, #cce, #33a);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .full-service:hover .explainer {
    opacity: 0;
  }

  .starters {
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, 0) translateZ(-50px) rotateX(10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
  }

  .main-courses {
    top: 50%;
    left: -15%;
    transform: translate(0, -50%) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
  }

  .drinks {
    top: 50%;
    right: -15%;
    transform: translate(0, -50%) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn3.iconfinder.com/icons/11053097/drink_soda_soft_food_and_drinks_bottle_icon);
  }

  .desserts {
    top: -1%;
    left: 50%;
    transform: translate(-50%, 0) translateZ(-50px) rotateX(-10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
  }