<div class="all">
    <div class="full-service" style="background-image: url('__FULL_SERVICE__')">
        <div class="explainer"><span data-i18n="menu.explore_menu">Explore Menu</span></div>
        <div class="text" data-i18n="menu.full_menu">Full Menu</div>
    </div>
    <div class="desserts" style="background-image: url('__DESSERTS__')">
        <div class="text" data-i18n="menu.desserts">Desserts</div>
    </div>
    <div class="drinks" style="background-image: url('__DRINKS__')">
        <div class="text" data-i18n="menu.drinks">Drinks</div>
    </div>
    <div class="main-courses" style="background-image: url('__MAIN_COURSES__')">
        <div class="text" data-i18n="menu.main_courses">Main Courses</div>
    </div>
    <div class="starters" style="background-image: url('__STARTERS__')">
        <div class="text" data-i18n="menu.starters">Starters</div>
    </div>
</div>