<div class="language-selector">
    <div class="selected-language">
        <img id="selected-lang-flag" src="" alt="Selected language">
        <span id="selected-lang-text">Language</span>
    </div>
    <div class="language-dropdown">
        <ul>
            <li data-lang="es">
                <img src="" alt="Español">
                <span>Español</span>
            </li>
            <li data-lang="en">
                <img src="" alt="English">
                <span>English</span>
            </li>
            <li data-lang="pt">
                <img src="" alt="Portugues">
                <span>Portugues</span>
            </li>
            <!-- Puedes añadir más idiomas aquí si fuera necesario -->
        </ul>
    </div>
</div>