<div class="language-selector" id="language-selector">
    <button id="language-button" class="language-button">
        <img id="current-flag" src="./components/language-selector/flags/es.svg" alt="Idioma actual" />
    </button>
    <div class="language-overlay" id="language-overlay">
        <ul class="language-options">
            <li data-lang="es"><img src="./components/language-selector/flags/es.svg" alt="Español" /></li>
            <li data-lang="en"><img src="./components/language-selector/flags/en.svg" alt="English" /></li>
            <li data-lang="fr"><img src="./components/language-selector/flags/fr.svg" alt="Français" /></li>
            <li data-lang="pt"><img src="./components/language-selector/flags/pt.svg" alt="Português" /></li>
        </ul>
    </div>
</div>
