<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Starters</title>
  <link rel="stylesheet" href="../../styles/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../category-slider/category-slider.css" />
</head>

<body>

  <app-header></app-header>

  <div id="category-slider-container"></div>

  <!-- En tu HTML principal -->
  <!-- <category-carousel></category-carousel> -->

  <main class="products-grid" id="products-container">
    <!-- Productos se cargan por JS -->
  </main>

  <app-footer></app-footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>

  <script type="module" src="../header/header.js"></script>
  <script type="module" src="../footer/footer.js"></script>
  <script type="module" src="starters.js"></script>

</body>

</html>